section{
    min-height:90vh;
    .formElem{
       padding:5rem;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       .addForm{
        display:flex;
       }
    }
    .card {
        display: flex;
        // justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .cardimg {
            // overflow: hidden;

            width: 80px;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .cardprice button{
            padding: 0.2rem 0.4rem;
            text-align: center;
            border:none;
            background-color: transparent;
        }

    }
}